@font-face {
    font-family: 'Determination';
    src: url('../fonts/DeterminationMonoWeb.woff');
}
html {
    background-color: #200040;
}

body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 {color:#dddddd;}

button,[type="button"],[type="reset"],[type="submit"] {
    font-size: 1em;
    background-color: #ffffff;
    padding:0.25em 0.5em;
    border:2px solid rgba(0,0,0,0.4);
    box-shadow: none;
    border-radius: 0.5em;
    line-height: 1;
}
button:hover,[type="button"]:hover,[type="reset"]:hover,[type="submit"]:hover {
    background-color: #ddd;
}
button:active,[type="button"]:active,[type="reset"]:active,[type="submit"]:active {
    background-color: #888;
    color:#fff;
}
button > span {
    margin:0.25em;
}

#start {
    font-size:1.25em;
    display: inline-block;
    text-align: center;
}

#start button {
    background:none;
    border-color: #fce8cc;
    color: #fce8cc;
}
#start button:hover {
    background-color:#fce8cc;
    color:#402000;
    border-color: #8c6940;
}

#applelogo {
    width:50%;
}

canvas,#applelogo {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#settings {
    text-align: right;
    position: absolute;
    color: white;
    top:1em; right:1em;
    transform: rotate(90deg);
}

#settings > a {
    font-size: 2em;
    color:#ffffff;
}

#settings > a:active {
    color:#dddddd;
}

#settings > a > span {
    display:none;
}

#settings > section {
    display: none;
    margin-top: 0.5em;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.5);
}

#settings > section > section {
    padding: 0.5em;
}

#settings.open {
    transform: rotate(0deg);
}

#settings.open > section {
    display: block;
}

#debug {
    position: absolute;
    top:0; left:0;
    color:white;
    max-width: 560px;
    z-index: 99;
}